<%
  class_div = if request.env["warden"]
    current_user.id == message.sender_id ? 'message-sent' : 'message-received'
  end
%>
<li>
  <div class="row">
    <div id="message-<%= message.id %>" class="message-content <%= class_div %>">
      <%= message.body %><br>
      <span class="message-created-at"><%= message.created_at.strftime("%d/%m/%Y %H:%M") %></span>
    </div>
  </div>
</li>
