<div class="book-image-cont book-part">
  <% if book.images.first.present? %>
    <img src="<%= book.images.first.url %>" class="book-image">
  <% else %>
    <img src="<%= asset_path 'default-book.png' %>"
      class="book-image">
  <% end %>
  <div class="image-others">
    <div class="owl-carousel owl-theme image-carousel">
      <% book.images.each do |i| %>
        <img src="<%= i.url %>" class="book-image-others"
          id="image-other<%= i.id %>">
      <% end %>
    </div>
  </div>
</div>
