ul {
  padding-left: 0px;
  list-style: none;
}

.btn-close {
  text-decoration: none !important;
}

.messages-list {
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}

.message-sent {
  background-color: $bg-message-sent;
  border-color: $border-message-sent;
  position: relative;
  margin: 5px 20px;
  padding: 10px;
  float: right;
}

.message-received {
  background-color: $bg-message-received;
  border-color: $border-message-received;
  margin: 5px 20px;
  padding: 10px;
  float: left;
}
