.explorer {
  padding: 50px 0;

  .item {
    margin: 10px 0;

    .box {
      background-size: cover;
      align-items: center;
      border-radius: 3px;
      color: $white;
      display: flex;
      font-weight: bold;
      height: 100px;
      width: 100px;
      justify-content: center;
      text-shadow: 1px 1px 1px $black;
    }
  }

  .tags {
    > a {
      display: inline-block;
      margin: 5px;
    }
  }
}
